name: Deploy to AWS

# This is a basic workflow to help you get started with Actions

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  workflow_dispatch:

# permission can be added at job level or workflow level
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the jobb
    steps:
      - name: Debug AWS Credentials
        run: |
          echo "AWS_ROLE_ARN: ${{secrets.AWS_ROLE_ARN}}"
          echo "ARTIFACT_BUCKET: ${{ secrets.ARTIFACT_BUCKET }}"
          echo "AWS_REGION: ${{ secrets.AWS_REGION }}"

      - name: Debug AWS Credentials
        run: |
          echo "AWS_ROLE_ARN: ${{secrets.AWS_ROLE_ARN}}"
          echo "ARTIFACT_BUCKET: ${{ secrets.ARTIFACT_BUCKET }}"
          echo "AWS_REGION: ${{ secrets.AWS_REGION }}"


      # - uses: actions/checkout@v4

      # - name: Setup Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: '22'
          
      # - name: Install dependencies
      #   run: npm ci

      # - name: Configure AWS credentials
      #   uses: aws-actions/configure-aws-credentials@v4
      #   with:
      #     role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
      #     aws-region: ${{ secrets.AWS_REGION }}

      # - name: Setup AWS SAM CLI
      #   uses: aws-actions/setup-sam@v2

      # - name: Build SAM application
      #   run: sam build

      # - name: Deploy SAM application
      #   run: |
      #     sam deploy \
      #       --no-confirm-changeset \
      #       --no-fail-on-empty-changeset \
      #       --stack-name amt-textract-stack \
      #       --s3-bucket ${{ secrets.ARTIFACT_BUCKET }} \
      #       --capabilities CAPABILITY_IAM \
      #       --region ${{ secrets.AWS_REGION }}